<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/维护中国特色社会主义核心价值观的飞机大战/src/play/CornFrame.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="play.CornFrame"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="维护中国特色社会主义核心价值观的飞机大战"/>
</launchConfiguration>
