<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epic.debug.launchConfigurationPerlCGI">
<stringAttribute key="ATTR_BROWSER_ID" value="org.eclipse.help.ui.systembrowser"/>
<stringAttribute key="ATTR_CGI_FILE_EXTENSION" value=".cgi,.pl"/>
<stringAttribute key="ATTR_CGI_ROOT_DIR" value="D:\javaworkplace"/>
<stringAttribute key="ATTR_CUSTOM_BROWSER_PATH" value=""/>
<stringAttribute key="ATTR_DEBUG_CGI" value="OK"/>
<stringAttribute key="ATTR_DEBUG_PORT" value="4444"/>
<stringAttribute key="ATTR_HTML_ROOT_DIR" value="D:\javaworkplace"/>
<stringAttribute key="ATTR_HTML_ROOT_FILE" value="D:\javaworkplace"/>
<stringAttribute key="ATTR_PROJECT_NAME" value=""/>
</launchConfiguration>
